<div ng-include='"templates/navbar.html"'></div>

<div class="container" ng-controller="candidatesController"> 
    <div ng-controller="ExperienceController"></div>   
    <div class="page-header">
        <h3>Candidates:</h3>
    </div>
    <div class="row col-sm-12">
        <h4>Create new</h4>
        <form ng-submit="submitCandidates()">
            <div class="form-group col-sm-6">
                <input type="text" class="form-control input-sm" name="name" ng-model="candidateData.name" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
                <input type="email" class="form-control" placeholder="Email" ng-model="candidateData.email" required>
            </div>
            <div class="form-group col-sm-6">
                <input type="password" class="form-control" placeholder="Password" ng-model="candidateData.password">
            </div>
            <div  class="form-group col-sm-6" ng-controller="ExperienceController">
                <label for="experience_id"> Candidate experience: </label>
                <select name="experienceid" id="experienceid"  
                        ng-model="candidateData.experienceid"
                        ng-options="option.id as option.experience_lebel for option in availableOptions">
                </select>
            </div>
            <div class="form-group text-right">   
                <button type="submit" class="btn btn-primary btn-md">Submit</button>
            </div>
        </form>
    </div>

    <div class="row col-sm-12">
        <hr>
        <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
        <h4>Candidates list:</h4>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Experience</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidate in candidates">

                    <td>{{candidate.id}}{{candidate.candidate}}</td>
                    <td>{{candidate.user.name}}</td>
                    <td>{{candidate.experience.experience_lebel}}
                    </td>
                    <td>
                    <td><a href="#/candidate-edit/{{candidate.user.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>