<div class="container" ng-controller="candidatesController"> 
   
    <div class="page-header">
        <h2>Laravel and Angular Single Page Application</h2>
        <h4>Candidates</h4>
    </div>

    <form ng-submit="submitCandidates()"> <
        <div class="form-group">
            <input type="text" class="form-control input-sm" name="name" ng-model="candidateData.name" placeholder="Name">
        </div>

        <div class="form-group">
              <div ng-controller="ExperienceController">
            
                <label for="candidate.experience_id"> Candidate experience: </label>
                <select name="candidate.experienceid" id="candidate.experienceid"  
                     ng-model="candidateData.experienceid"
                     ng-options="option.id as option.experience_lebel for option in availableOptions">
                </select>
            
            <hr>
        </div>
        </div>
        <div class="form-group text-right">   
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>

    <pre>
	{{ candidateData}}
    </pre>

    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
    <div class="comment" ng-hide="loading" ng-repeat="candidate in candidates">
       
        <h3>Candidate #{{ candidate.id}} <small>Name: {{ candidate.name}}</small></h3>
        <p>Candidate experience:{{ candidate.experienceid}}</p>
        <div ng-controller="ExperienceController">
            
                <label for="candidate.experience_id"> Candidate experience: </label>
                <select name="candidate.experienceid" id="candidate.experienceid"  
                     ng-model="candidate.experienceid"
                     ng-options="option.id as option.experience_lebel for option in availableOptions">
                </select>      
            <hr>
        </div><br>
        <p><a href="#" ng-click="deleteCandidate(candidate.id)" class="text-muted">Delete</a></p>
    </div>
</div>