<div ng-include='"templates/navbar.html"'></div>
<div class="container" ng-controller="joboffersController"> 

    <h3>List of Job Offers</h3>
 
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Job</th>
                <th>Description</th>
                <th>Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="joboffer in joboffers">
                <td>{{joboffer.title}}</td>
                <td>{{joboffer.description}}</td>
                <td>{{joboffer.experience.experience_lebel}}</td>
                <td>
                <td><a href="#/joboffers-apply/{{joboffer.id}}/{{candidate.id}}" class="btn btn-primary">&nbsp; Apply</a></td>      
            </tr>
        </tbody>
    </table>
</div>