<div class="container" ng-controller="joboffersController"> 
    
        <h3>List of Job Offers</h3>
        <a class="btn btn-lg btn-success" href="#/joboffers/0">
            <i class="icon-calendar icon-white"></i>&nbsp;Create New Job Offer</a>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Description</th>
                    <th>Experience</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="joboffer in joboffers">
                    <td>{{joboffer.title}}</td>
                    <td>{{joboffer.description}}</td>
                    <td>
                        <div ng-controller="ExperienceController">
                            <select name="experience" id="experience" data-ng-model="joboffer.experience_id" >
                                <option ng-repeat="option in availableOptions" value="{{option.id}}">{{option.experience_lebel}}</option>
                            </select>
                        </div>

                    </td>
                    <td>
                    <td><a href="#/joboffers-apply/{{joboffer.id}}/{{candidate.id}}" class="btn btn-primary">&nbsp; Apply</a></td>      
                </tr>
            </tbody>
        </table>

  
    </div>