
<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <div class="alert alert-danger" ng-if="loginError" role="alert">{{loginErrorText}}</div>
        <h3>Register</h3>
        <form>
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Name" ng-model="candidateData.name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="candidateData.email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="candidateData.password">
            </div>
            <div class="form-group">
                <div ng-controller="ExperienceController">
                    <label for="experience_id"> Candidate experience: </label>
                    <select name="experienceid" id="experienceid"  
                            ng-model="candidateData.experienceid"
                            ng-options="option.id as option.experience_lebel for option in availableOptions">
                    </select>

                    <hr>
                </div>

                <button class="btn btn-primary" ng-click="submitCandidate()">Submit</button>
        </form>
        <br/>
        <a href="#/login">Login</a>
    </div>
</div>
