<div ng-include='"templates/navbar.html"'></div>
<div class="view">
    <div class="container" ng-controller="appliedJoboffersController">
        <div class="alert alert-danger" ng-if="Error" role="alert">{{ErrorText}}</div>
        <div class="row">
            <nav class= "navbar navbar-default" role= "navigation" >
                <div class= "navbar-header" >
                    <a class= "navbar-brand" href= "#/joboffers"><i class="glyphicon glyphicon-th-large"></i> Job Offer List </a>
                    <a data-ng-show="joboffer.id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Job Offer {{joboffer.id}}</a>
                </div>
            </nav>
            <header>
                <h3>{{title}}</h3>
            </header>
            <div class="col-md-12">
                <h3>Job Offer: #{{ data.joboffer.id}} <small>Title: {{data.joboffer.title}}</small></h3>
                <p>Description:</p>
                <p>{{data.joboffer.description}}</p>
                <p>Experience: {{data.joboffer.experience.experience_lebel}}</p>    
            </div>
            <form role="form" name="myForm" class="form-horizontal">
                <div class="col-md-12">
                    <div class="comment" ng-hide="loading" ng-repeat="application in data.applied">
                        <h3>Candidate #{{ application.candidate.user.id}} <small>Name: {{ application.candidate.user.name}}</small></h3>
                        <p>Email:{{ application.candidate.user.email}} </p>
                        <p>Candidate experience:{{ application.candidate.experience.experience_lebel}} </p>
                        <label class= "col-md-2" for="application_statusid"> Status: </label>
                        <div class="col-md-4">
                            <select name="application_statusid[{{application.id}}]" id="application_statusid_{{application.id}}"  
                                    ng-model="application.status.id"
                                    ng-options="option.id as option.status for option in data.statuses"
                                    ng-change="selectCandidate(application.id, application.status.id, data.joboffer.id)">
                            </select>
                        </div>
                       <hr>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>