<div ng-include='"templates/navbar.html"'></div>
<div class="view">
    <div class="container">
        <div class="row">
            <nav class= "navbar navbar-default" role= "navigation" >
                <div class= "navbar-header" >
                    <a class= "navbar-brand" href= "#/joboffers"><i class="glyphicon glyphicon-th-large"></i> Job Offers List </a>
                    <a data-ng-show="candidate.id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Candidate {{candidate.id}}</a>
                </div>
            </nav>
            <header>
                <h3>{{title}}</h3>
            </header>
            <div class="col-md-12">

                <form role="form" name="myForm" class="form-horizontal">
                    
                    <div class="row">
                        <div class= "form-group" ng-class="{error: myForm.title.$invalid}">
                            <label class= "col-md-2"> Name </label>
                            <div class="col-md-4">
                                <input name="name" data-ng-model="candidate.name" type= "text" class= "form-control" placeholder="Name" required/>
                                <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class= "col-md-2" for="candidate.experienceid"> Candidate experience: </label>
                            <div ng-controller="ExperienceController">
                                <div class="col-md-4">
                                    <select name="candidate.experienceid" id="candidate.experienceid" data-ng-model="candidate.candidate.experienceid">
                                        <option ng-repeat="option in availableOptions" value="{{option.id}}">{{option.experience_lebel}}</option>
                                    </select>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class= "form-group">
                            <label class= "col-md-2"></label>
                            <div class="col-md-4">
                                <a href="#/" class="btn">Cancel</a>
                                <button data-ng-click="saveCandidate(candidate);"
                                        
                                        ng-disabled="myForm.$invalid"
                                        class="btn btn-primary">{{buttonText}}</button>
                                <button data-ng-click="deleteCandidate(candidate)"
                                        data-ng-show="candidate.id" class="btn btn-warning">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div></div>
    </div>
</div>